.crypto-content {
  /*padding-left: 5%;*/
}

.crypto-title {
  margin: 3%;
  text-align: center;
}

.crypto-container {
  margin: 5%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.limit {
  width: 100%;
  height: 1%;
  border: 1px solid black;
}